@font-face {
    font-family: "Gilroy";
    src: url("content/Gilroy/Gilroy-Medium/Gilroy-Medium.ttf");
}
body{
    overflow-y: hidden;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 1.5em;
    font-family: 'Gilroy';
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #b7c0ff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 7px;
    font-size: 20px;
}
.header__menu{
    display: flex;
    width: 350px;
}
.header__title{
    overflow: hidden;
    animation: text 500ms linear;
}
.header__menu_item{
    margin: 10px;
    font-size: 15px;
    letter-spacing: 2px;
    cursor: pointer;
    width: 0;
    overflow: hidden;
}
.header__menu_item:hover{
    color: #777ca5;
}
.content__background {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.content__background_rect {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.content__background_circle{
    position: absolute;
    left: 40%;
    top: 40%;
    animation: circle 10s linear;
    animation-fill-mode: forwards;
    transform: scale(0);
    backface-visibility: hidden;
}
.content__background_circle_light{
    position: absolute;
    left: 40%;
    top: 40%;
    animation: circle1 10s linear;
    animation-fill-mode: forwards;
    transform: scale(0);
}
.content__background_2_circle{
    position: absolute;
    left: -10%;
    top: 40%;
    animation: circle2 10s linear;
    animation-fill-mode: forwards;
    transform: scale(0);
}
.content__background_2_circle_light{
    position: absolute;
    left: -10%;
    top: 40%;
    animation: circle3 10s linear;
    animation-fill-mode: forwards;
    transform: scale(0);
}
.content__background_video{
    position: absolute;
    left: 50%;
    height: 100%;
    animation:  video 10s linear;
    animation-fill-mode: forwards;
    object-fit: cover;
}
.content__background_img_wrapper{
    position: absolute;
    z-index: 100;
    left: 35vw;
    top: 20vh;
    width: 400px;
    transform: scale(0);
    animation: img 10s linear;
    animation-fill-mode: forwards;
}

.content__first{
    margin: 25vh 0 0 100px;
}
.content__first_title{
    color: #ffffff;
    font-size: 65px;
    width: 300px;
    font-weight: 500;
    margin-bottom: 50px;
    animation: text2 500ms linear;
    overflow: hidden;
}

.content__second{
    position: absolute;
    width: 600px;
    right: 100px;
    top: 35vh;
    transform-origin: -80% center;
    animation: content 1s linear;
    animation-delay: 8s;
    transform: rotateZ(90deg);
    animation-fill-mode: forwards;
    color: #b7bffc;
}
.content__second_title{
    font-size: 35px;
}
.content__second_text{
    color: #6570a2;
    margin: 20px 0 40px;
}
.btn {
    outline: none;
    background: none;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 18px 70px ;
    font-size: 10px;
    letter-spacing: 2px;
    cursor: pointer;
}
.btn:hover{
    background: rgba(255, 255, 255, 0.1);
}
.content__first_btn{
    transform: scale(1);
    animation: btn 500ms linear;
}
.item {
    animation: menu 250ms linear;
    animation-fill-mode: forwards;
    width: 70px;
    filter: blur(5px);
}
@keyframes content {
    0%{
        transform: rotateZ(90deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}
@keyframes menu {
    0%{
        width: 0;
        opacity: 0;
    }
    80% {
        width: 60px;
        opacity: 0.4;
    }
    100% {
        opacity: 1;
        width: 60px;
        filter: blur(0);
    }
}
 @keyframes text {
     from{
         width: 0;
     }
     to {
         width: 80px;
     }
 }
@keyframes text2 {
    from{
        width: 0;
    }
    to {
        width: 300px;
    }
}
@keyframes btn {
    from{
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@keyframes circle {
    0% {

        transform: scale(0);
    }
    10% {
        transform: scale(0);
    }
    20% {
        transform: scale(36);
    }
    70% {
        transform: scale(36);
    }
    80% {
        transform: scale(100);
    }
    100% {
        transform: translatex(0%) translatey(0%) scale(100);
    }
}
@keyframes circle1 {
    0% {
        transform: scale(0);
    }
    13% {
        transform: scale(0);
    }
    20% {
        transform: scale(46);
    }
    70% {
        transform: translatex(0%) translatey(0%) scale(46);
    }
}
@keyframes img {
    0%{
        transform: scale(0);
    }
    15%{
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    70% {
        transform: scale(1);
    }
    80% {
        transform: scale(0);
    }
    100%{
        transform: scale(0);
    }
}
@keyframes video {
    0%{
        left: 100%;

    }
    10% {
        left: 100%;

    }
    20% {
        left: 50%;
    }
    78% {
        left: 50%;
        height: 100%;
        width: 100%;
        border-radius: 0;
        z-index: 0;
    }
    78.1% {
        left: -100%;
        width: 100%;
        top: 0%;
        height: 500px;
        width: 500px;
        z-index: -1;
        border-radius: 50%;
    }
    78.2% {
        z-index: 1;
    }
    90% {
        left: -20%;
        top: 16%;
        border-radius: 50%;
        height: 500px;
        width: 500px;
        z-index: 1;
    }
    100% {
        left: -20%;
        top: 16%;
        border-radius: 50%;
        height: 500px;
        width: 500px;
        z-index: 1;
    }
}

@keyframes circle2 {
    0% {
        transform: translatex(0%) translatey(0%) scale(0);
    }
    80% {
        transform:  scale(0);
    }
    90% {
        transform:  scale(35);
    }
    100% {
        transform: scale(35);
    }
}
@keyframes circle3 {
    0% {
        transform: translatex(0%) translatey(0%) scale(0);
    }
    80% {
        transform: scale(0);
    }
    90% {
        transform: scale(45);
    }
    100% {
        transform: scale(45);
    }
}